* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#app,
.luckysheetContainer {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#app {
	display: flex;
}

iframe {
	flex: 1;
}

.left {
	position: relative;
	height: 100%;
	width: 100%;
}

.right {
	position: relative;
	flex: 1;
}
